
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: var(--fonte-perguntas)

}

.container {
    display: flex;
    height: 100%;
    width: 100%;
  }
  
  /* Painel esquerdo */
  .left-panel {
    background-color: #8a2be2;
    color: white;
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
  }
  
  .left-panel h2 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    font-weight: bolder;
  }
  
  .left-panel p {
    font-size: 0.9rem;
    margin-bottom: 2rem;
  }
  
  .btn-enter {
    background-color: #b37aff;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.7rem 2.5rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .btn-enter:hover {
    background-color: #9d5cff;
  }

  .little-text{
    font-weight: bold;
  }
  
  /* Painel direito */
  .right-panel {
    background-color: #e7d4ff;
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    overflow-y: auto;
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: 800;
    font-family: var(--fonte-titulo);
    font-style: normal;
    color: #3b007a;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  
  .subtitle {
    font-size: 1.4rem;
    color: #673ab7;
  }
  
  .small-text {
    font-size: 0.8rem;
    color: #6a4fa3;
    margin-bottom: 2rem;
    font-weight: bold;
  }
  
  /* Formulário */
  .cadastro-form {
    width: 100%;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .c-input-group {
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon{
    width: 10%;

  }
  .space{
    width: 10%;
  }

  select {
    color: #673ab7;
    font-weight: bold;
    font-size: 13px;
  }
  
.cadastro-form select{
  color: #673ab7;
}


  .cadastro-input, select{
    border: solid 1px #b37aff;
    background-color: #b37aff;
    height: 2rem;
    width: 80%;
    color: #ffffff;
    font-weight: bold;
    border-radius: 4px;
    padding: 0.4rem;
  }

  .cadastro-input::placeholder{
    font-size: 13px;
    font-weight: bold;
    color: #673ab7;
  }

  .senha-group{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .input-wrapper {
  position: relative;
  width: 80%; /* MESMO tamanho do input */
}

.input-wrapper .cadastro-input {
  width: 100%;
  padding-right: 40px; /* espaço para o olhinho */
}

.toggle-senha {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
}

.toggle-senha svg {
  width: 20px;
  height: 20px;
  stroke: #fff;
  opacity: 0.7;
}

.toggle-senha:hover svg {
  opacity: 1;
}

  select option {
    color: #4b0082;
    background-color: #fff;
    font-size: 15px;
  }

  .btn-cadastro{
    align-items: center;
    height: 3rem;
    width: 30%;
    color:aliceblue;
    font-weight: bolder;
    font-size: 1.5rem;
    background-color: #8762d6;
  }

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      display: flex;
      width: 100%;
      height: auto;
      
    }

    .left-panel{
      width: 100%;
      height: 50%;
    }

    .right-panel{
      width: 100%;
    }
  }

