
.pagina-criar{
    width: 100%;
    height: 100%;
    background: var(--roxo1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagina-criar input{
    border: none;
    background-color: transparent;
    margin: auto;

}

.pagina-criar input::placeholder{
    font-family: var(--fonte-perguntas);
    color: var(--roxo3);
    font-size: 1.5rem;
    font-style: normal;
}

.header-criar{
    display: flex;
    height: 20%;
    width: 100%;
}

.input-tema{
    width: 60%;
    height: 40%;
    text-align: center;
}

.conteudo-criar{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.add-btn{
    background: var(--roxo4);
    width: 1rem;
    height: 1rem;
    
}

.box-quiz{
    width: 60%;
    height: 70%;
    background: var(--roxo4);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 40px;
    gap: 25px;
}

.input-pergunta {
  width: 100%;
  height: 20%;
  align-self: flex-start;
  padding: 12px;
  border-radius: 4px;
  font-size: 1.5rem;
  text-align: center;
}

.lista-alternativa{
    display: flex;
    width: 100%;
    height: 80%;
    flex-direction: column;
    gap: 18px;
}

.item-resposta{
    width: 100%;
    height: 20%;

}

.item-resposta input[type="radio"] {
    width: 9%;
    height: 30%;
    background: var(--roxo4);
    color: var(--roxo3);
}
.item-resposta .input-resposta{
    width: 90%;
    height: 50%;
    font-size: 1rem;
}

