
.pagina-criar{
    width: 100%;
    height: 100%;
    background: var(--roxo1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagina-criar input{
    border: none;
    background-color: transparent;
    margin: auto;

}

.pagina-criar input::placeholder{
    font-family: var(--fonte-perguntas);
    color: var(--roxo3);
    font-size: 1.5rem;
    font-style: normal;
}

.header-criar{
    display: flex;
    height: 20%;
    width: 100%;
}

.input-tema{
    width: 60%;
    height: 40%;
    text-align: center;
}

.conteudo-criar{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

}
.add-btn{
    background: var(--roxo4);
    width: 1rem;
    height: 1rem;
    
}

.box-quiz{
    width: 60%;
    height: 70%;
    background: var(--roxo4);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 40px;
    gap: 25px;
}

.input-pergunta {
  width: 100%;
  height: 20%;
  align-self: flex-start;
  padding: 12px;
  border-radius: 4px;
  font-size: 1.5rem;
  text-align: center;
}

.lista-alternativa{
    display: flex;
    width: 100%;
    height: 80%;
    flex-direction: column;
    gap: 18px;
}

.item-resposta{
    width: 100%;
    height: 20%;

}

.item-resposta input[type="radio"] {
    width: 9%;
    height: 30%;
    background: var(--roxo4);
    color: var(--roxo3);
}
.item-resposta .input-resposta{
    width: 90%;
    height: 50%;
    font-size: 1rem;
}

.close-create{
    font-size: 3rem;
}

.seta-btn {
    position: absolute;
    right: 0;
    width: 40px;
    height: 60px;
    background: var(--roxo5);
    color: #fff;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
    z-index: 10;
  }

  .modal-lateral {
    position: absolute;
    top: 0;
    right: -320px;
    width: 320px;
    height: 100%;
    background: var(--roxo5);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    transition: right 0.3s ease;
  }

  .modal-lateral.ativo {
    right: 0;
  }
  
  /* CONTROLES */
  .modal-lateral select {
    padding: 8px;
    border: none;
  }
  
  .add-pgnt {
    padding: 10px;
    margin-top: auto;
  }
  
  .nav-btns {
    display: flex;
    justify-content: space-between;
  }

  .finalizar-quiz {
  padding: 12px;
  background-color: var(--roxo3);
  border: none;
  color: white;
  font-size: 1.05rem;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 8px;
}