@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');

.login-container {
  background-color: #e7d4ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--fonte-perguntas)
}

.title {
  font-size: 2.6rem;
  font-weight: bolder;
  font-family: "Rammetto One", sans-serif;
  color: var(--roxo3);
  margin-bottom: 1.5rem;
}

.login-box {
  background-color: #8a2be2;
  color: white;
  padding: 2rem;
  border-radius: 8px;
  width: 340px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-box h2 {
  font-size: 1.5rem;
  margin-bottom: 0.4rem;
}

.login-box p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}


.l-input-group {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #b37aff;
  border-radius: 4px;
  padding: 0.4rem;
  margin-bottom: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.login-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 0.3rem;
  box-sizing: border-box;
}

.icon {
  margin-right: 0.4rem;
  display: flex;
  align-items: center;
}

.login-input {
  border: none;
  background: transparent;
  outline: none;
  color: #fff;
  font-weight: bold;
  font-size: 0.9rem;
  flex: 1;
  height: 1.8rem;
  padding: 0.15rem 0.4rem;
  box-sizing: border-box;
}

.space{
   width: 12,5%;
}


input::placeholder {
  color: #673ab7;
  font-weight: bold;
  font-size: 0.8rem;
}

.forgot-password {
  color: #d1b6ff;
  font-size: 0.8rem;
  text-decoration: underline;
  display: inline-block;
  margin-bottom: 1rem;
}

.btn-login {
  background-color: #b37aff;
  border: none;
  color: white;
  font-weight: bold;
  padding: 0.6rem 2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-login:hover {
  background-color: #9d5cff;
}

.back-text {
  margin-top: 1rem;
  font-size: 0.85rem;
  text-align: center;
  width: 100%;
  display: block;
}

.back-text span {
  color: #f1e4ff;
  font-weight: bold;
  cursor: pointer;
}

.toggle-senha {
  position: absolute;
  right: 8px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-senha svg {
  width: 20px;
  height: 20px;
  stroke: #fff;
  opacity: 0.7;
  transition: opacity 0.2s ease;
}

.toggle-senha:hover svg {
  opacity: 1;
}