.ranking-container {
    background-color: var(--roxo1);
    min-height: 100vh;
    padding: 20px;
    text-align: center;
}

.ranking-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--roxo7);
    font-family: var(--fonte-titulo);
}

.ranking-card {
    background-color: var(--roxo2);
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz-title-rnk{
    font-size: 2.5rem;
    color: rgb(182, 182, 182);
}

.quiz-name {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.graph-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.graph {
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
}

.pontuacao-box {
    font-size: 22px;
    text-align: right;
}

.pontuacao-titulo {
    font-weight: bold;
}

.pontuacao-valor {
    font-size: 32px;
    font-weight: bold;
    margin-top: 5px;
}

.btn-voltar {
    all: unset;        /* REMOVE TODO CSS HERDADO */
    position: fixed;
    bottom: 20px;
    right: 20px;

    padding: 12px 22px;
    background-color: #4b007d;
    color: white;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

    box-shadow: 0px 4px 10px black;
}

.btn-voltar:hover {
    background-color: #30004f;
    transform: scale(1.05);
}
