
button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    
    cursor: pointer;
  }
  
.container-telaio{
    background: var(--roxo1);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.header-tio{
    width: 100%;
    height: 20%;
    display: flex;
}

/*itens do header*/
.space-ti{
    width: 20%;
}

.header-tio .title{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-tio .perfil-btn{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
}

/*Modal*/
.modal-tio{
    width: 15%;
    height: 30%;
    display: flex;
    flex: 1;
    position: absolute;
    background-color: var(--roxo4);
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
    animation: fadeIn 0.2s ease;

}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.modal-tio .conteudo-modal{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.modal-tio .logout{
    font-weight: bold;
    cursor: pointer;
}
.modal-tio .logout:hover{
    color: aliceblue;
}


.header-tio .perfil-btn .icon{
    border: none;
    color: var(--roxo3);
    height: 50%;
    width: 24%;
    border-radius: 100%;
    border: none;
    padding: 0;
    background-color: var(--roxo1);
}

.header-tio .perfil-btn .icon svg{
    width: 100%;
    height: 100%;
}

.box{
    background-color: var(--roxo2);
    width: 70%;
    height: 70%;

}

/* Barra superior (Salas e Rankings) */
.toolbar {
  width: 100%;
  display: flex;
  gap: 20px;
  margin-top: 20px;
  padding-left: 20px;
}

.btn-salas,
.btn-rankings {
  background-color: #000000; 
  color: var(--roxo1);
  border: none;
  padding: 10px 22px;
  border-radius: 20px;
  font-size: 17px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-salas:hover,
.btn-rankings:hover {
  background-color: #7114cc;
}

.seta {
  font-size: 12px;
}

/* Botão grande "+" */
.acoes {
  height: auto;
  margin-top: 10px;
  padding-left: 20px; /* mantém ele no canto esquerdo */
}

.btn-add{
  width: 15%;
  height: 40%;
  background: var(--roxo1);
  border: none;
  border-radius: 15px;
  font-size: 50px;
  color: var(--roxo2);
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn-add-tio:hover {
  background-color: #e4caff;
  transform: scale(1.05);
}
