@import "../global.css";

.container-telain{
    background-color: var(--roxo1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.header-telaini{
    width: 100%;
    height: 30%;
}

/*itens do header*/
.space-ti{
    width: 20%;
}

.header-telaini .title{
    width: 60%;
}

.header-telaini .perfil-btn{
    width: 20%;
}

.box{
    background-color: var(--roxo2);
    width: 50%;
    height: 60%;

}