.container-quiz {
    width: 100%;
    height: 100vh;
    background-color: #e6c8ff; /* lilás super claro */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    font-family: "Poppins", sans-serif;
    color: var(--branco);
}

.header-quiz {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.timer {
    position: absolute;
    left: 20px;
    top: 10px;
    text-align: center;
    font-family: var(--fonte-perguntas);
    color: var(--roxo3);
    font-size: 1.5rem;
    font-weight: bold;
}

.box-quiz {
    background-color: var(--roxo2);
    width: 70%;
    height: auto;
    min-height: 60%;
    border-radius: 14px;
    padding: 30px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.titulo-quiz {
    font-size: 2.5rem;
    font-weight: 800;
    font-family: var(--fonte-titulo);
    font-style: normal;
    color: #3b007a;
    margin-bottom: 0.5rem;
    text-align: center;
}

.titulo-header {
    font-size: 2.5rem;
    font-weight: 800;
    font-family: var(--fonte-titulo);
    font-style: normal;
    color: #3b007a;
    margin-bottom: 0.5rem;
    text-align: center;
}

.pergunta-card {
    font-family: var(--fonte-perguntas);
    color: var(--roxo3);
    font-size: 1.5rem;
    font-style: normal;
}

.enunciado-p{
    font-family: var(--fonte-perguntas);
    color: var(--roxo3);
    font-size: 1.5rem;
    font-weight: bold;
}

.opcao{
    font-family: var(--fonte-perguntas);
    color: var(--preto);
    font-size: 1.5rem;
    font-weight: bold;
}

.pergunta-card p {
    margin-bottom: 8px;
}

.opcoes {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.opcoes label {
    cursor: pointer;
}

.btn-confirmar {
    margin-top: 15px;
    background-color: #6b20bf;
    color: white;
    border: none;
    padding: 10px 28px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    float: right;
}

.btn-confirmar:hover {
    background-color: var(--roxo6);
}

.btn-voltar {
    position: absolute;
    left: 20px;
    top: 20px;

    background-color: var(--roxo2);
    color: white;
    padding: 8px 20px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.btn-voltar:hover {
    background-color: var(--roxo6);
}

.resposta-certa {
    margin-top: 15px;
    font-weight: bold;
    color: var(--roxo3);
}

.btn-proxima {
    margin-top: 15px;
    background-color: var(--roxo6);
    color: white;
    border: none;
    padding: 10px 28px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.btn-proxima:hover {
    background-color: var(--roxo7);
}