@import "../global.css";

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    
    cursor: pointer;
  }
  
.container-telain{
    background-color: var(--roxo1);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.header-tij{
    width: 100%;
    height: 20%;
    display: flex;
}

/*itens do header*/
.space-ti{
    width: 20%;
}

.header-tij .title{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-tij .perfil-btn{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
}

/*Modal*/
.modal-tij{
    width: 15%;
    height: 30%;
    display: flex;
    flex: 1;
    position: absolute;
    background-color: var(--roxo4);
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
    animation: fadeIn 0.2s ease;

}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.modal-tij .conteudo-modal{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.modal-tij .logout{
    font-weight: bold;
    cursor: pointer;
}
.modal-tij .logout:hover{
    color: aliceblue;
}


.header-tij .perfil-btn .icon{
    border: none;
    color: var(--roxo3);
    height: 50%;
    width: 24%;
    border-radius: 100%;
    border: none;
    padding: 0;
    background-color: var(--roxo1);
}

.header-tij .perfil-btn .icon svg{
    width: 100%;
    height: 100%;
}

.box{
    background-color: var(--roxo2);
    width: 70%;
    height: 70%;

}