@import "../global.css";

.container-telain{
    background-color: var(--roxo1);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.header-tij{
    width: 100%;
    height: 20%;
    display: flex;
}

/*itens do header*/
.space-ti{
    width: 20%;
}

.header-tij .title{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-tij .perfil-btn{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Modal*/
.modal-tij{
    width: 20%;
    height: 30%;
    display: flex;
}

.box{
    background-color: var(--roxo2);
    width: 50%;
    height: 60%;

}