@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@100..900&family=Poppins:wght@100&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');


:root{
    --branco: ;
    --roxo1: #e4c2ff;
    --roxo2: #9634e4;
    --roxo3: #4f1964;
    --roxo4: #ab6ddd;
    --roxo5: #ce93fa;
    --roxo6: #4e1891;
    --roxo7: #3a126e;
    --preto: #000000;
    

    /* fontes*/
    --fonte-perguntas: "Quicksand", sans-serif;
    --fonte-titulo:  "Rammetto One", sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: var(--roxo1); /* a mesma cor do seu app */
    overflow-x: hidden; /* evita vazamento lateral */
}